* {
    font-family: Poppins;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}
a {
    color: black;
}
.bg {
    background-color: #61E8E1;
    background-image: url(../IMG/bg1.png);
    background-size: cover;
}
.a4border {
    width: 825px;
    height: 1350px;
    margin: 0 auto;
    border-radius: 18px;
    box-shadow: 0 0 30px #0000003a;
    background-color: #ffffff;
    background-image: url(../IMG/paper-texture.png);
    background-size: cover;
    position: relative;
}
h1 {
    font-size: 23px;
}
h2 {
    font-size: 14px;
}
#profile_photo {
    position: static;
    border-radius: 35%;
    width: 110px;
    transition: width 0.1s ease-in-out;
}
#profile_photo:hover {
    width: 120px;
}
.youtube_video {
    width: 360px;
    height: 200px;
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
}
.footerBox {
    background-color: #F25757;
    box-shadow: 0 0 10px #00000057;
    border-radius: 15px;
    width: 375px;
    height: 20;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
}
.footerBox:hover {
    transform: translate(0,-3.5px);
}
.footerBox a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13.5px;
}
.leftPanel {
    height: 1350px;
    width: 300px;
    float: left;
    position: relative;
}
.leftPanelChild {
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}
.leftPanelChild li {

    top: 150px;
    left: 0;
    right: 0;
}
.rightPanel {
    height: 1350px;
    width: 525px;
    position: relative;
    float: right;
}
.rightPanelChild {
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}
.rightPanelChild h1 {
    text-align: left;
    font-size: 20px;
    left: 10px;
}
/* .contact_button {

} */
.nomeInicio {
    margin: 0 auto;
}
.descricaoAbout {
    margin: -10px 0 30px 0;
}
#menu01 {
    width: 68px;
    height: 43px;
    background-color: #F25757;
    box-shadow: 0 0 10px #00000038;
    border-radius: 5px;
    display: inline-block;
    align-items: center;
    margin: 0 800px;
    position: fixed;
    line-height: 18px;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}
#menu01 h2 {
    text-align: center;
    margin: 0 auto;
    transform: translate(0,3px);
}
#menu01 a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
#menu01:hover {
    transform: translate(-5px);
}
/* ////////TITULO ENTRE EM CONTATO */
.contacth2 {
    text-align: center;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 220px;
    height: 30px;
    font-size: 19px;
    background-color: #F25757;
    border-radius: 4px;
    color: #ffffff;
    line-height: 30px;
    z-index: 1;
    box-shadow: 0 0 8px #00000025;
}
.formPanel {
    width: 750px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000025;
    position: relative;
    top: 25px;
    z-index: 0;
}
.formPanelChild {
    position: relative;
}
.textForms {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 600;
    margin: 40px auto;
}
.textForms input {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 4px #0000003a;
    width: 320px;
    height: 25px;
    margin: 2px auto;
}
.textForms textarea {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 4px #0000003a;
    width: 320px;
    height: 55px;
    margin: 3px auto;
}
.textForms p {
    margin: 5px auto;
}
.selectForms {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%, 0);
}
.selectForms li {
    margin: -2px 0 0 -40px;
}
.selectForms label {
    width: 250px;
    margin: -20px 0 0 43.5px;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.ulCheckbox {
    margin: 0 0 40px 0;
}
.form_button {
    width: 230px;
    height: 38px;
    background-color: #F25757;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    top: 535px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 17px;
    box-shadow: 0 0 10px #0000002a;
    color: #ffffff;
}
.form_button:hover {
    cursor: pointer;
}
.selectForms label {
    font-weight: 600;
}
