@media only screen and (max-width: 425px) {
    #A4Panel {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #leftPanel {
        width: 350px;
        margin: 0 auto;
        float: none;
    }
    #rightPanel {
        box-sizing: border-box;
        width: 350px;
        margin: 0 auto;
        padding: 0 10px 0 0;
        float: none;
    }
    #experiencePanel {
        margin: 0 auto;
        width: 350px;
    }
    #formationPanel {
        margin: 0 auto;
        width: 350px;
    }
    #langPanel {
        margin: 0 auto;
        width: 350px;
    }
    #portifolioPanel {
        margin: 0 auto;
        width: 350px;
    }
    #menu {
        position: absolute;
        left: -100%;
        margin: 0;
    }
    #footer {
        width: 350px;
    }
}
a {
    text-decoration: none;
    color: black;
}
#bg {
    background: rgb(61,78,77);
    background: radial-gradient(circle, rgb(77, 99, 97) 0%, rgb(22, 22, 22) 100%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerA4 {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 905px;
    margin: 0 auto;
}
    #menu {
        width: 80px;
        height: 55px;
        background-color: #F25757;
        box-shadow: 0 0 10px #00000038;
        border-radius: 7px;
        display: inline-block;
        margin: 0 0 0 15px;
        top: 0;
        right: 0;
        position: absolute;
        line-height: 20px;
        z-index: 4;
        transition: transform 0.1s ease-in-out;
    }
        #menu h2 {
            text-align: center;
        }
        #menu a {
            color: #ffffff;
            text-shadow: 0 0 3px #00000085;
            font-weight: 600;
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
        }
        #menu:hover {
            transform: translate(7px);
        }
        #menuText {
            margin: 3px auto;
        }
    #A4Panel {
        width: 905px;
        height: fit-content;
        border-radius: 18px;
        box-shadow: 0 0 30px #0000003a;
        background-color: #fff5e5;
        background-size: cover;
        margin: 0;
    }
        #leftPanel {
            width: 320px;
            height: fit-content;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            text-align: center;
            margin: 20px auto;
        }
            .leftPanelFX {
                box-sizing: border-box;
                width: 280px;
                height: fit-content;
                background: linear-gradient(#fff5e5, #fff5e5) padding-box,
                linear-gradient(to right, rgb(242,87,87,0.3), rgb(45,192,253,0.3)) border-box;
                border: 4px solid transparent;
                border-radius: 15px;
                padding: 15px;
                color: #3b3b3b;
            }
            #userProfilePanel h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 26px;
                font-weight: 700;
                margin: 0;
                background-color: #3b3b3b;
                border-radius: 4px;  
                color: #fddb6a;
            }
            #userProfilePanel h3 {
                font-family: 'Roboto Mono', monospace;
                font-size: 15px;
                font-weight: 500;
            }
            #descTitle {
                margin: 0 auto;
            }
            #profilePhoto {
                width: 125px;
                transform: scale(1);
                border-radius: 35%;
                transition: transform 0.18s ease-in-out;
            }
            #profilePhoto:hover {
                transform: scale(1.12);
                transform-origin: center;
            }
            #contactButton {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 25px;
                background-color: #F25757;
                border: none;
                border-radius: 5px;
                font-family: 'Roboto Mono', monospace;
                font-weight: 600;
                font-size: 1em;
                text-shadow: 0 0 3px #00000085;
                margin: 10px auto 0 auto;
                box-shadow: 0 0 5px #0000003a;
                color: #ffffff;
                transform: scale(1);
                transition: transform 0.07s ease-in-out;
            }
            #contactButton:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
            #aboutPanel {
                margin: 15px 0 15px 0;
            }
            #aboutPanel h3 {
                font-family: 'Roboto Mono', monospace;
                font-size: 13px;
                font-weight: 600;
                line-height: 15px;
                margin: 0 auto;
            }
            #skillsPanel {
                display: flexbox;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 280px;
                height: fit-content;
                background: linear-gradient(#fff5e5, #fff5e5) padding-box,
                linear-gradient(to right, rgba(197, 166, 27, 0.2), rgb(59,59,59,0.2)) border-box;
                border: 4px solid transparent;
                border-radius: 15px;
                padding: 10px;
                font-family: 'Roboto Mono', monospace;
                color: #3b3b3b;
            }
                #skillsPanel h1 {
                    font-family: 'Roboto Mono', monospace;
                    font-weight: 700;
                    font-size: 24px;
                    margin: -5px 0 0 0;
                }
                #skillsPanel h2 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 13px;
                    margin: 0 0 0 2px;
                    background-color: #3b3b3b;
                    border-radius: 4px;
                    color: #ffe572;
                }
                #skillsPanel img {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                }
                #skillsPanelContainer {
                    margin: -5px 0 0 0;
                }
                .skillsPanelChild {
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 5px;
                }
                .progressBarContainer {
                    display: flex;
                    flex-direction: column;
                    margin: 2.5px 0 5.5px 0;
                }
                .progressBarBorder {
                    width: 235px;
                    height: 13px;
                    border-radius: 7px;
                    background: linear-gradient(#fff5e5, #fff5e5) padding-box,
                    linear-gradient(to right, rgba(59, 59, 59, 0.4), rgba(236, 197, 21, 0.4)) border-box;
                    border: 2px solid transparent;
                    margin: 0 0 0 5px;
                    position: relative;
                }
                .progressBarMAIN {
                    width: 235px;
                    height: 13px;
                    border-radius: 5px;
                    background: linear-gradient(to right, rgba(59, 59, 59, 0.55) 0%, rgba(255, 229, 114, 0.55) 100%);
                    margin: 2px 0 0 7.45px;
                    position: absolute;
                    z-index: 1;
                }
                .progressBarOVERFLOW {
                    height: 13px;
                    border-radius: 5px;
                    background-color: #fff5e5;
                    margin: 2px 0 0 7.45px;
                    position: absolute;
                    z-index: 2;
                }
                    #pBOVFW01 {
                        width: 150px;
                        margin: 2px 0 0 92px;
                    }
                    #pBOVFW02 {
                        width: 125px;
                        margin: 2px 0 0 117px;
                    }
                    #pBOVFW03 {
                        width: 185px;
                        margin: 2px 0 0 57px;
                    }
                    #pBOVFW04 {
                        width: 35px;
                        margin: 2px 0 0 207px;
                    }
                    #pBOVFW05 {
                        width: 35px;
                        margin: 2px 0 0 207px;
                    }
                    #pBOVFW06 {
                        width: 55px;
                        margin: 2px 0 0 187px;
                    }
                    #pBOVFW07 {
                        width: 85px;
                        margin: 2px 0 0 157px;
                    }
                    #pBOVFW08 {
                        width: 60px;
                        margin: 2px 0 0 182px;
                    }
                    #pBOVFW09 {
                        width: 155px;
                        margin: 2px 0 0 87px;
                    }
                    #pBOVFW10 {
                        width: 35px;
                        margin: 2px 0 0 207px;
                    }
                .pBSliderButton {
                    width: 43px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: #F25757;
                    box-shadow: 0 0 10px 1px #f257579c;
                    border-radius: 7px;
                    font-weight: 700;
                    color: #fff5e5;
                    position: absolute;
                    z-index: 3;
                }
                    #pBSB01 {
                        margin: -1px 0 0 70px;
                    }
                    #pBSB02 {
                        margin: -1px 0 0 115px;
                    }
                    #pBSB03 {
                        margin: -1px 0 0 20px;
                    }
                    #pBSB04 {
                        margin: -1px 0 0 185px;
                    }
                    #pBSB05 {
                        margin: -1px 0 0 185px;
                    }
                    #pBSB06 {
                        margin: -1px 0 0 155px;
                    }
                    #pBSB07 {
                        margin: -1px 0 0 125px;
                    }
                    #pBSB08 {
                        margin: -1px 0 0 145px;
                    }
                    #pBSB09 {
                        margin: -1px 0 0 50px;
                    }
                    #pBSB10 {
                        margin: -1px 0 0 197px;
                    }
                #souproplayer {
                    margin: -5px 0 0 0;
                }
        #rightPanel {
            width: 585px;
            height: fit-content;
            float: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            text-align: left;
            margin: 20px auto;
            padding: 0 20px 0 0;
            color: #3b3b3b;
        }
        #rightPanel h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            margin: 0;
            padding: 0 0 10px 0;
        }
        #rightPanel h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
        #rightPanel h3 {
            font-family: 'Roboto Mono', monospace;
        }
        #experiencePanel {
            height: fit-content;
            margin: 0;
        }
        .experienceDiv {
            display: flex;
        }
        #experiencePanel h2 {
            margin: 0 0 5px 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            width: fit-content;
            background-color: #3b3b3b;
            border-radius: 4px;
            color: #fddb6a;
        }
        #experiencePanel h3 {
            margin: 2.5px 0 12px 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            width: fit-content;
            line-height: 7px;
        }
        #experiencePanel a {
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            background-color: #3b3b3b;
            border-radius: 4px;
            color: #fddb6a;
        }
        .experienceLink {
            width: fit-content;
            transition: transform 0.1s ease-in-out;
        }
        .experienceLink:hover {
            transform: translate(5px, 0);
            
        }
        #formationPanel {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }
        #formationPanel h1 {
            margin: 15px 0 0 0;
        }
        #formationPanel p {
            margin: 0;
        }
        #formationPanel h2 {
            margin: 0;
            padding: 0;
            font-size: 15px;
            width: fit-content;
            background-color: #3b3b3b;
            border-radius: 4px;
            color: #fddb6a;
        }
        #formationPanel h3 {
            margin: 3px 0 12px 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            width: fit-content;
            line-height: 15px;
        }
        #containerBottom {
            display: flex;
            margin: 15px 0 0 0;
        }
        #langPanel h1 {
            margin: 0;
            padding: 0;
        }
        #containerLangPanel {
            display: flex;
            justify-content: space-around;
            height: fit-content;
        }
        #containerLangPanel h2 {
            font-size: 14px;
            width: fit-content;
            background-color: #3b3b3b;
            border-radius: 1px;
            font-weight: 800;
        }
            .flags {
                width: 60px;
                margin: 0;
            }
        #ptBR, #en, #es {
            width: 100px;
        }
            #ptBRText01, #enText01, #esText01 {
                color: #fff5e7;
            }
            #ptBRText02, #enText02, #esText02 {
                color: #ff8873;
            }
        #portifolioPanel {
            height: fit-content;
            margin: 0;
        }
        #contactTitle {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #contactSection {
            width: 220px;
            height: 30px;
            background-color: #F25757;
            box-shadow: 0 0 8px #00000025;
            border-radius: 4px;
            margin: 10px 0 0 0;
            z-index: 1;
        }
        #contactTitle h2 {
            font-family: 'Roboto Mono', monospace;
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            text-shadow: 0 0 3px #00000085;
            margin: 2px 0 0 0;
        }
        .formPanel {
            width: 750px;
            height: fit-content;
            margin: -20px 0 20px 0;
            border-radius: 10px;
            box-shadow: 0 0 8px #00000025;
            z-index: 0;
        }
            .textForms {
                display: grid;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-family: 'Roboto Mono', monospace;
                margin: 30px auto;
            }
            .textForms input {
                border: none;
                border-radius: 5px;
                box-shadow: inset 0 0 5px #0000003b;
                background-color: #fffbf7;
                width: 380px;
                height: 25px;
            }
            .textForms textarea {
                width: 380px;
                height: auto;
                min-height: 75px;
                max-height: 250px;
                max-width: 380px;
                border: none;
                border-radius: 5px;
                box-shadow: inset 0 0 5px #0000003b;
                background-color: #fffbf7;
            }
            .textForms label {

                font-size: 15px;
                margin: 6px 0 4px 0;
            }
            .selectForms {
                font-family: 'Roboto Mono', monospace;
                display: grid;
                align-items: center;
                justify-content: center;
                text-align: left;
                margin: -50px auto;
            }
            .selectForms label {
                font-weight: 600;
                font-size: 15px;
            }
            .selectForms li {
                margin: -2px 0 0 -40px;
                font-weight: 300;
                font-size: 15px;
                list-style: none;
            }
            .ulCheckbox {
                margin: 15px 0 10px 0;
            }
            .ulCheckbox input::checkbox {
                margin: -25px;
            }
            .ulCheckbox ul {
                margin: 0 0 0 -3px;
            }
            .ulRadio ul {
                margin: 0 0 0 -4px;
            }
            #formButton {
                width: 230px;
                height: 38px;
                background-color: #F25757;
                box-shadow: 0 0 10px #0000002a;
                border-radius: 5px;
                border: none;
                margin: 45px 0 15px 0;
                transform: scale(1);
                transform-origin: center;
                transition: transform 0.1s ease-in-out;
            }
            #formButton h2 {
                font-family: 'Roboto Mono', monospace;
                font-weight: 700;
                font-size: 1.2rem;
                color: #ffffff;
                text-align: center;
                margin: -3px 0 0 0;
                text-shadow: 0 0 3px #00000085;
            }
            #formButton:hover {
                cursor: pointer;
                transform: scale(1.016);
            }
    #aboutTitle {
        box-sizing: border-box;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(#fff5e5, #fff5e5) padding-box,
        linear-gradient(to right, rgb(242,87,87,0.3), rgb(45,192,253,0.3)) border-box;
        border: 7px solid transparent;
        border-radius: 15px;
        padding: 50px 25px 40px 25px;
        margin: 25px auto;
    }
    #aboutTitle h1, h2 {
        margin: 0;
        padding: 0;
        color: #3b3b3b;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: left;
    }
    #aboutTitle h2 {
        font-family: 'Roboto Mono', monospace;
        font-size: 22px;
    }
    #aboutTitle h1 {
        font-size: 50px;
        margin: -15px 0 0 0;
    }
    #aboutText {
        width: fit-content;
        box-sizing: border-box;
        padding: 0 65px 0 65px;
        margin: 0 auto;
    }
    #aboutText h3 {
        width: fit-content;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #3b3b3b;
        line-height: 50px;
        margin: 0;
    }
    .aboutTextIMG {
        width: 25px;
    }
    #aboutLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px;
    }
    #aboutLinks h2 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        font-size: 18px;
        color: #3b3b3b;
    }
    #socialLinks {
        margin: 15px;
    }
    .socialIMG {
        width: 50px;
        border-radius: 15%;
        transition: transform 0.15s ease-in-out;
        margin: 0 7px 0 7px;
    }
    .socialIMG:hover {
        transform: translate(0, 6px);
    }
#containerFooter {
    display: flex;
    justify-content: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: absolute;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 3.5px;
    background-color: #F25757;
    box-shadow: 0 0 10px 5px #ff004c31;
    border-radius: 15px;
    width: 410px;
    height: 16px;
    z-index: 3;
    margin: -10px 0 0 0;
    transition: transform 0.15s ease-in-out;
}
#footer:hover {
    transform: translate(0,-2px);
}
#footer a {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    text-shadow: 0 0 3px #00000085;
    width: 410px;
    font-weight: 600;
    font-size: 0.85rem;
}