* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a {
    color: black;
}
.bg {
    background-color: #61E8E1;
    background-image: url(../IMG/bg1.png);
    background-size: cover;
}
.containerA4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.panelA4 {
    width: 825px;
    height: 1350px;
    border-radius: 18px;
    box-shadow: 0 0 30px #0000003a;
    background-color: #fff5e5;
    background-size: cover;
    margin: 5px 0 0 0;
}
#menu01 {
    width: 80px;
    height: 55px;
    background-color: #F25757;
    box-shadow: 0 0 10px #00000038;
    border-radius: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 800px;
    position: fixed;
    line-height: 20px;
    transition: transform 0.1s ease-in-out;
    z-index: 1;
}
#menu01 h2 {
    margin: 0 auto;
}
#menu01 a {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}
#menu01:hover {
    transform: translate(-7px);
}
.menu01h2 {
    margin: 4px 0 0 0;
}
.leftPanel {
    height: 1350px;
    width: 330px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 30px auto;
}
.userProfilePanel {
    box-sizing: border-box;
    width: 290px;
    height: 285px;
    background: linear-gradient(#fff5e5, #fff5e5) padding-box,
    linear-gradient(to right, rgb(242,87,87,0.3), rgb(45,192,253,0.3)) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
}
.userProfilePanel h1, h2, h3 {
    color: #000000;
    /* text-shadow: 0 0 3px #00000028; */
}
.userProfilePanel h1 {
    font-size: 24px;
    margin: 8px 0 0 0;
}
.userProfilePanel h2 {
    font-size: 18.5px;
    margin: 0 auto;
}
.userProfilePanel h3 {
    font-size: 15px;
    font-weight: 400;   
}
.descTitle {
    margin: 0 0 15px 0;
}
.linksH3 h3 {
    margin: 0 auto;
    line-height: 18px;
}
.profile_photo {
    width: 125px;
    margin: 18px 0 0 0;
    transform: scale(1);
    border-radius: 35%;
    transition: transform 0.18s ease-in-out;
}
.profile_photo:hover {
    transform: scale(1.12);
    transform-origin: center;
}
.contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    background-color: #F25757;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin: 20px auto;
    font-size: 1em;
    box-shadow: 0 0 5px #0000003a;
    color: #ffffff;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}
.contactButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.aboutPanel {
    box-sizing: border-box;
    width: 290px;
    height: 257px;
    background: linear-gradient(#fff5e5, #fff5e5) padding-box,
    linear-gradient(to right, rgb(242,87,87,0.3), rgb(45,192,253,0.3)) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 13px;
    margin: 15px auto;
}
.aboutPanel h3 {
    font-size: 13px;
}
.textAbout01 {
    margin: 5px auto;
}
.textAbout02 {
    margin: -12px auto;
}
.skillsPanel {
    display: flexbox;
    flex-direction;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(#fff5e5, #fff5e5) padding-box,
    linear-gradient(to right, rgb(242,87,87,0.3), rgb(45,192,253,0.3)) border-box;
    border: 2px solid transparent;
}
.skillsPanel h1 {
    font-size: 24px;
    margin: 10px 0 5px;
}
.skillsPanel h2 {
    font-size: 13px;
    margin: 0 0 0 0;
}
.skillsPanel img {
    width: 24px;
    margin: 0 0 0 0;
}
#menu02 {
    margin: 0 0 30px 0;
}
#menu02 h3 {
    margin: 0 auto;
}
.rightPanel {
    height: 1350px;
    width: 495px;
    float: right;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
}
/* .rightPanelChild {
    
} */
.rightPanelChild h1 {
    text-align: left;
    font-size: 20px;
}
.rightPanelChild h2 {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
}
/* ///CONTATO.HTML */
.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactTitle h2 {
    font-size: 18px;
    color: #ffffff;
    width: 220px;
    height: 30px;
    background-color: #F25757;
    box-shadow: 0 0 8px #00000025;
    border-radius: 4px;
    z-index: 1;
}
.formPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formPanelChild {
    width: 750px;
    height: 620px;
    margin: -30px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000025;
    z-index: 0;
}
.textForms {
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 40px auto;
}
.textForms input {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 3px #0000005e;
    background-color: #61e8e100;
    width: 320px;
    height: 25px;
}
.textForms textarea {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 3px #0000005e;
    background-color: #61e8e100;
    width: 320px;
    height: 55px;
}
.textForms label {
    font-size: 15px;
    margin: 6px 0 4px 0;
}
.selectForms {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: -50px auto;
}
.selectForms label {
    font-weight: 600;
    font-size: 15px;
}
.selectForms li {
    margin: -2px 0 0 -40px;
    font-weight: 300;
    font-size: 15px;
    list-style: none;
}
.ulCheckbox {
    margin: 0 0 10px 0;
}
.ulCheckbox ul {
    margin: 0 0 0 -3px;
}
.ulRadio ul {
    margin: 0 0 0 -4px;
}
.containerFormButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formButton {
    width: 230px;
    height: 38px;
    font-size: 1rem;
    background-color: #F25757;
    box-shadow: 0 0 10px #0000002a;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    margin: 45px auto;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}
.formButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.selectForms label {
    font-weight: 600;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 7px;
    background-color: #F25757;
    box-shadow: 0 0 10px #00000057;
    border-radius: 15px;
    width: 410px;
    height: 18px;
    transition: transform 0.16s ease-in-out;
    position: fixed;
}
.footer:hover {
    transform: translate(0,-3px);
}
.footer a {
    color: #ffffff;
    width: 410px;
    font-weight: 600;
    font-size: 0.85rem;
}
